::selection {
  color: var(--color-white);
  background-color: #a684ff;
}

body {
  font-family: sans-serif;
}
.container {
  padding-inline: 24px;
}

:root {
  --nav-tabs-h-color: #101828;
  --color-white: #fff;
  --muted-white: #ddd6ff;
  --paragragh-color: #e5e7eb;
  --violet-color: #7c3aed;
  --violet-color-2: #7f22fe;
  --text-dark: #314158;
  --light-dark: #02323e;
  --gray-1: #4a5565;
  --text-color100: #1d293d;
  --light-green: #dbfce7;
  --dark-green: #00a63e;
  --light-purbel: #f3e8ff;
  --dark-purbel: #9810fa;
  --light-yellow: #fef9c2;
  --dark-yellow: #d08700;
  --light-blue: #e0e7ff;
  --dark-blue: #4f39f6;
  --gold: #ffb900;
  --section-padding: 5rem;
}

/* utilites */
.black-text-color {
  color: var(--nav-tabs-h-color);
}
.bg-green {
  background-color: var(--light-green);
}
.bg-purbel {
  background-color: var(--light-purbel);
}
.bg-yellow {
  background-color: var(--light-yellow);
}
.bg-blue {
  background-color: var(--light-blue);
}
.bg-violet {
  background-color: var(--muted-white);
}
.bg-violet-dark {
  background-color: var(--violet-color);
}
.bg-violet-3 {
  background-color: #a434ff;
}
.bg-violet-4 {
  background-color: #a73cff;
}
.bg-green-dark {
  background-color: var(--dark-green);
}
.bg-purbel-dark {
  background-color: var(--dark-purbel);
}
.text-d-purbel {
  color: var(--dark-purbel);
}
.bg-yellow-dark {
  background-color: var(--dark-yellow);
}
.bg-blue-dark {
  background-color: var(--dark-blue);
}
.text-d-blue {
  color: var(--dark-blue);
}
.bg-gray {
  background-color: #f6f7f9;
}
.text-violet {
  color: var(--violet-color);
}
.red {
  color: #e60076;
}
.text-green {
  color: var(--dark-green);
}
.text-purbel {
  color: var(--dark-purbel);
}
.text-yellow {
  color: var(--dark-yellow);
}
.text-blue {
  color: var(--dark-blue);
}
.mybtn {
  color: var(--color-white);
  padding-block: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}
.mybtn:hover {
  color: var(--color-white);
  background-color: #7c00de;
}
.green:hover {
  background-color: #008236;
}
.purbel:hover {
  background-color: #8200db;
}
.yellow:hover {
  background-color: #a65f00;
}
.blue:hover {
  background-color: #432dd7;
}
.blue-2 {
  color: #432dd7;
}
.mybtn:active {
  color: var(--color-white) !important;
}
.text-dark {
  color: var(--nav-tabs-h-color);
}
.fs-30 {
  font-size: 30px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-14 {
  font-size: 0.875rem;
}
.fw-400 {
  font-weight: 400;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.white-muted {
  color: var(--muted-white);
}
.gray-1 {
  color: var(--gray-1) !important;
}
.gray-2{
  color: #6a7282;
}
.violet-color-2 {
  color: var(--violet-color-2);
}
.bg-violet-2 {
  background-color: var(--violet-color-2);
}
.bg-light-dark {
  background-color: var(--light-dark);
}
.bg-liner {
  background-image: linear-gradient(
    to right bottom,
    oklch(0.667 0.295 322.15) 0%,
    oklch(0.769 0.188 70.08) 100%
  );
}
.bg-orange {
  background-color: #e17100;
}
.tabs-container {
  max-width: 1152px;
}
.badge {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.3333;
  color: #7008e7;
  text-align: center;
  border: 2px solid #ddd6ff;
  background-color: #f5f3ff;
  text-transform: uppercase;
}
/* navbar */
.navbar {
  padding-block: 18px;
}
.container .desktop-links {
  display: none !important;
}
.navbar-brand a {
  color: var(--text-color100);
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
}
.navbar button a {
  color: var(--text-dark);
}
.navbar button a:hover {
  color: var(--violet-color) !important;
}
.navbar-toggler .close-icon {
  display: none;
}
.navbar-toggler:not(.collapsed) .open-icon {
  display: none;
}
.navbar-toggler:not(.collapsed) .close-icon {
  display: inline-block;
}
#navId .nav-link.active {
  font-weight: 600 !important;
  color: var(--violet-color) !important;
}
#navId .nav-link.active::before {
  width: 100%;
}
.nav-link:hover {
  color: var(--violet-color);
}
.navbar .nav-link::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--violet-color);
  position: absolute;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}
.navbar .nav-link:hover::before {
  width: 100%;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 82px;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  z-index: 10;
  ul .nav-item {
    padding: 12px 16px;
    &:hover {
      background-color: #f5f3ff;
    }
  }
  ul .nav-item:not(:last-child) {
    margin-bottom: 8px;
  }
  ul .nav-item a {
    transition: color 0.1s;
  }
  ul .nav-item a:hover {
    color: var(--violet-color) !important;
  }
}
.mobile-menu:target {
  display: inline-block;
}

/* ****hero******** */
#hero {
  padding-top: 11.25rem;
  padding-bottom: var(--section-padding);
  background:
    linear-gradient(to right, #4d179acc, #59168bcc),
    url(/images/hero-bg-img.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  h1 {
    font-size: clamp(3rem, 5vw, 3.75rem);
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  p {
    margin-inline: auto;
    max-width: 42rem;
    font-size: 1.25rem;
    margin-bottom: 3rem;
    color: var(--paragragh-color);
  }
}

#hero form {
  padding: 1.5rem;
  box-shadow: 0 25px 50px -12px #00000040;
  border-radius: 1rem;
  max-width: 56rem;
  background-color: var(--color-white);
  label {
    font-size: 0.875rem;
    color: #364153;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  i {
    left: 16px;
    top: 58%;
  }
  input,
  select {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #d1d5dc;
    &:focus {
      outline-width: 2px;
      outline-offset: 4px;
      outline-color: #8e51ff;
      border: 1px solid #8e51ff;
    }
  }
  select {
    appearance: none;
  }
  .cus-p {
    padding-left: 48px !important;
  }
}

.container-nums {
  max-width: 48rem;
  margin-inline: auto;
  margin-top: 3rem;
}
/* ************services*************** */
#featured {
  padding-block: var(--section-padding);
  background-color: #f9fafb;
  .mybtn {
    padding: 16px 32px;
    font-size: 16px;
    i {
      margin-left: 4px;
    }
  }
}
.line {
  width: 64px;
  height: 3px;
}
.line-right {
  background: linear-gradient(
    to right,
    transparent 10%,
    #8e51ff 40%,
    #7f22fe 80%
  );
}
.line-left {
  background: linear-gradient(
    to left,
    transparent 1%,
    #8e51ff 40%,
    #7f22fe 80%
  );
}
.section-header {
  margin-bottom: 4rem;
  h2 {
    font-size: clamp(1.875rem, 5vw, 3rem);
    font-weight: 900;
    /* line-height: 2.25rem; */
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(
      to right in oklab,
      #7f22fe 10%,
      #9810fa 40%,
      #fe9a00 75%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--gray-1) !important ;
    max-width: 42rem;
    margin-inline: auto;
  }
}
.card {
  cursor: pointer;
  .image {
    height: 16rem;
    z-index: 1;
    img {
      transition: transform 0.3s;
    }
    .b-top {
      top: 1rem;
      left: 1rem;
      font-size: 0.875rem;
      font-weight: 500;
      padding: 0.25rem 0.75rem;
    }
    .b-bottom {
      font-size: 0.875rem;
      padding: 0.25rem 0.75rem;
      bottom: 1rem;
      left: 1rem;
    }
    .heart {
      padding: 0.5rem;
      background-color: #ffffffe6;
      right: 1rem;
      top: 1rem;
      color: var(--gray-1);
      cursor: pointer;
      &:hover i {
        color: #fb2c36;
      }
    }
  }
  &:hover img {
    transform: scale(1.08);
  }
  .card-body {
    z-index: 2 !important;
    padding: 1.5rem;
    .price {
      color: #7f22fe;
      font-size: 30px;
      font-weight: 700;
    }
    .price-dec {
      font-size: 0.875rem;
      line-height: 20px;
      color: var(--gray-1);
      margin: 0;
    }
    .room {
      font-weight: 500;
      line-height: 1.5rem;
      color: var(--gray-1);
    }
    .img-icon {
      width: 2rem;
      height: 2rem;
      img {
        transform: scale(1);
      }
    }
    p.name {
      font-size: 0.875rem;
      color: var(--gray-1);
      margin-bottom: 0;
    }
    .tour {
      padding: 0.5rem;
      background-color: var(--muted-white);
      color: var(--violet-color-2);
      font-size: 14px;
      font-weight: 500;
    }
  }
}

/* *******services*********** */
#services {
  padding-block: var(--section-padding);
}

.nav-tabs .nav-link {
  --bs-nav-link-color: #4a5565;
  --bs-nav-link-font-size: 1rem;
  --bs-nav-link-font-weight: 600;
  --bs-nav-link-padding-y: 1rem;
  --bs-nav-link-padding-x: 1.5rem;
  --bs-nav-tabs-border-width: 0;
}
.nav-tabs .nav-link:hover {
  border-bottom: 2px solid #d6d0f4;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  --bs-nav-tabs-link-active-color: var(--violet-color-2);
  --bs-nav-tabs-link-active-bg: #f5f3ff;
  border-bottom: 2px solid var(--violet-color-2);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.links-data {
  .icon {
    width: 2.5rem;
    height: 3rem;
    padding: 0.75rem;
  }
}

.tab-pane {
  .image {
    height: 24rem;
  }
  .rate-left {
    left: -24px;
    bottom: -24px;
  }
  .rate-right {
    right: -20px;
    bottom: -24px;
  }
}
/* ********testimonials********* */
#testimonials {
  padding-block: var(--section-padding);
  background-image: linear-gradient(
    to right,
    oklch(0.38 0.189 293.745) 0%,
    oklch(0.381 0.176 304.987) 100%
  );
  .section-header {
    h2 {
      background-image: linear-gradient(to right, #fff, #fff);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      color: #ddd6ff !important;
    }
    .line-right {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        oklch(0.828 0.189 84.429) 50%,
        oklch(0.769 0.188 70.08) 100%
      );
    }
    .line-left {
      background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        oklch(0.74 0.238 322.16) 50%,
        oklch(0.769 0.188 70.08) 100%
      );
    }
  }
  .client-card {
    padding: 2rem;
    margin-inline: auto;
    max-width: 90%;
    box-shadow:
      0 20px 25px -5px #0000001a,
      0 8px 10px -6px #0000001a;
    .card-header {
      .stars {
        color: var(--gold);
        font-size: 20px;
      }
    }
    p {
      color: #364153;
      margin-bottom: 32px;
    }
    .client {
      .image {
        width: 64px;
        height: 64px;
      }
      .client-data {
        h4 {
          color: var(--nav-tabs-h-color);
        }
        p {
          color: #4a5565;
        }
      }
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
    bottom: -55px;
  }
  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .carousel-indicators [data-bs-target]:hover {
    opacity: 1;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
    top: 50%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #8a5baf;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-image: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
}
/* *****************faq****************** */
#faq {
  padding-block: var(--section-padding);
  background-color: #f9fafb;

  .section-header {
    h2 {
      background-image: linear-gradient(
        to right,
        oklch(0.541 0.281 293.009) 0%,
        oklch(0.491 0.27 292.581) 50%,
        oklch(0.558 0.288 302.321) 100%
      );
    }
    .line-right {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        oklch(0.606 0.25 292.717) 50%,
        oklch(0.541 0.281 293.009) 100%
      );
    }
    .line-left {
      background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0) 0%,
        oklch(0.627 0.265 303.9) 50%,
        oklch(0.541 0.281 293.009) 100%
      );
    }
  }
}
.accordion {
  max-width: 56rem;
  margin-inline: auto;
  --bs-accordion-active-bg: #fff;
  --bs-accordion-btn-padding-x: 32px;
  --bs-accordion-btn-padding-y: 24px;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
  --bs-accordion-active-color: #101828;
  background-color: #f9fafb;
}
.accordion-button:focus {
  --bs-accordion-btn-focus-box-shadow: none;
}

/* ********contact********* */
#contact {
  padding-block: var(--section-padding);
  position: relative;
  .inner-card {
    transition: all 0.3s ease-in;
    &:hover {
      transform: translateY(-10px);
      border-width: 2px !important;
    }
    &:hover.hover-1 {
      border-color: #c4b4ff !important;
    }
    &:hover.hover-2 {
      border-color: #dab2ff !important;
    }
    &:hover.hover-3 {
      border-color: #f4a8ff !important;
    }
    &:hover.hover-4 {
      border-color: #a3b3ff !important;
    }
    &:hover .contact-icon {
      transform: scale(1.1);
    }
  }

  .contact-icon {
    width: 64px;
    height: 64px;
    transition: transform 0.3s;
  }
  a {
    color: #7008e7;
    &:hover {
      color: #7008e7;
    }
  }
  span.red {
    color: #e60076;
  }
  .info {
    padding: 32px;
    .info-icon {
      width: 48px;
      height: 48px;
      background-color: #ffffff;
    }
  }
  .social-card {
    padding: 32px;
    background-image: linear-gradient(
      to right bottom,
      oklch(0.541 0.281 293.009) 0%,
      oklch(0.558 0.288 302.321) 100%
    );
    p {
      color: #ede9fe;
    }
    .social-icon {
      width: 48px;
      height: 48px;
      background-color: #ffffff33;
      transition: all 0.3s;
      &:hover {
        background-color: #ffffff4d;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  .last-form {
    padding: 32px;
    form {
      label {
        margin-bottom: 8px;
      }
      input,
      select,
      textarea {
        padding: 12px 16px;
        border-radius: 12px;
        background-color: #fbf9fa;
        border: 1px solid #ebe6e7;
        transition: all 0.3s;
        &:focus {
          outline-width: 2px;
          outline-offset: 4px;
          outline-color: #8e51ff;
          border: 1px solid #8e51ff;
        }
      }
      textarea {
        resize: none;
      }
      .ch-box {
        background-color: #f5f3ff;
        input {
          width: 20px;
          height: 20px;
          margin-right: 8px;
        }
        label {
          margin: 0;
          color: #364153;
        }
      }
      button{
        padding: 16px 32px;
        background-color: #9117FB;
        color: #fff;
        transition: transform 0.3s;
        &:hover{
          transform: translateY(-4px);
        }
      }
    }
  }
}


  .big-circle-top{
    position: absolute;
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background: rgba(181, 153, 255, .12);

    top: -250px;
    right: -250px;
}

.small-circle-top{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid rgba(181, 153, 255, .35);

    top: 100px;
    right: 100px;
}


.big-circle-bottom{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: rgba(174, 128, 230, 0.15);
    
    left: -200px;
    bottom: -200px;
}
.small-circle{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgba(174, 128, 230, 0.4);

    top: 0px;
    left: 75%;
}
/* ***********footer************ */
footer{
  padding-block: 3rem;
  background-color: #56178F;
  .border-gray{
    border-color: #ffffff1a !important;
    margin-bottom: 24px;
  }
  .foot-icon{
    width: 40px;
    height: 40px;
    background-color: #ffffff1a;
    transition: all 0.3s;
    &:hover{
      transform: scale(1.1);
      background-color: #7F22FE;
      cursor: pointer;
    }
  }
}